<center>

  <h1>Game Over</h1>

  <h2>The chicken won.<br>Tough break for Earth!</h2>

  <h3>Final score: <span id="gameOver_spanFinalScore"></span></h3>

  <h3 id="gameOver_divNewHighScore" style="display:none;">
    You got the new high score!
  </h3>

</center>

<table border="0" width="100%"><tr>
  <td width="50%" align="center">
    <div id="gameOver_btnNewGame" x-mojo-element="Button"></div>
  </td>
  <td width="50%" align="center">
    <div id="gameOver_btnExit" x-mojo-element="Button"></div>
  </td>
</tr></table>
